body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #faf8ef;
}

h1 {
  font-size: 60px;
  color: #776e65;
}

#infos {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #8f7a66;
  color: white;
  cursor: pointer;
}

#grid {
  width: 400px;
  height: 400px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  background: #cdc1b4;
  font-size: 38px;
  font-weight: bold;
  color: #776e65;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.cell {
  min-width: 0;
  min-height: 0;
}

.cell-2 {
  background: #eee4da;
  color: #776e65;
}
.cell-4 {
  background: #ede0c8;
  color: #776e65;
}
.cell-8 {
  background: #f2b179;
  color: #f9f6f2;
}
.cell-16 {
  background: #f59563;
  color: #f9f6f2;
}
.cell-32 {
  background: #f67c5f;
  color: #f9f6f2;
}
.cell-64 {
  background: #f65e3b;
  color: #f9f6f2;
}
.cell-128 {
  background: #edcf72;
  color: #f9f6f2;
}
.cell-256 {
  background: #edcc61;
  color: #f9f6f2;
}
.cell-512 {
  background: #edc850;
  color: #f9f6f2;
}
.cell-1024 {
  background: #edc53f;
  color: #f9f6f2;
}
.cell-2048 {
  background: #edc22e;
  color: #f9f6f2;
}
